<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDzaUYQ8EsIxAVaf56OJmGykC-qlM5798</string>
	<key>GCM_SENDER_ID</key>
	<string>136706446092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kuriakosedemoapp</string>
	<key>PROJECT_ID</key>
	<string>kuriakose-demo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kuriakose-demo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136706446092:ios:ba9c3152497e3dacc86f29</string>
</dict>
</plist>